.navbar {
    display: flex;

    top: 0;
    cursor: pointer;
    background-color: blanchedalmond;

}

.navlist {
    width: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
}

.navlist li {
    padding: 23px;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

.navbar u h1 {
    font-family: 'Courier New', Courier, monospace;
}

.first-article img {
    width: 80%;
}

.first-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-article {
    text-align: center;
}

.first-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.second-article img {
    width: 80%;
}

.second-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-article {
    text-align: center;
}

.second-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.third-article img {
    width: 80%;
}

.third-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.third-article {
    text-align: center;
}

.third-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.second-row {
    display: flex;
    flex: wrap;
}

.flex-items {
    display: flex;

}

.flex-items h2 {
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-items img {
    width: 150px;
}

.about-writer {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fourth-article img {
    width: 80%;
}

.fourth-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fourth-article {
    text-align: center;
}

.fourth-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}


.fifth-article img {
    width: 80%;
}

.fifth-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fifth-article {
    text-align: center;
}

.fifth-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.sixth-article img {
    width: 80%;
}

.sixth-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sixth-article {
    text-align: center;
}

.sixth-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.third-row {
    display: flex;
    flex: wrap;
}

.img {
    border-radius: 500px;

}

.flex-items {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 250px;
}

.about-body {
    background-image: url(https://wallpapercave.com/wp/wp4288360.jpg);
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}

.seventh-article img {
    width: 80%;
}

.seventh-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.seventh-article {
    text-align: center;
}

.seventh-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}


.eight-article img {
    width: 80%;
}

.eight-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.eight-article {
    text-align: center;
}

.eight-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}


.ninth-article img {
    width: 80%;
}

.ninth-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ninth-article {
    text-align: center;
}

.ninth-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}



.tenth-article img {
    width: 80%;
}

.tenth-article a {
    text-decoration: none;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tenth-article {
    text-align: center;
}

.tenth-article p {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

@media only screen and (max-width: 520px) {

    .second-row {
        flex-direction: column;
    }

    .third-row {
        flex-direction: column;
    }

    .navlist {
        flex-direction: column;
    }
}

.imageSlides {
    display: none
}

img {
    margin: auto;
    display: block;
    width: 100%;
}

/* Our main images-slideshow container */
.images-slideshow {
    max-width: 612px;
    position: relative;
    margin: auto;
}

/*Style for ">" next and "<" previous buttons */
.slider-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 8px 16px;
    margin-top: -22px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

/* setting the position of the previous button towards left */
.previous {
    left: 2%;
}

/* setting the position of the next button towards right */
.next {
    right: 2%;
}

/* On hover, adding a background color */
.previous:hover,
.next:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.8);
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.first-page-body {
    text-align: center;
    padding-top: 20%;
    transition: padding-top 4s;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-repeat: no-repeat;
}
.first-page-body h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
